<table>
  <thead>
    <th>Error ID</th>
    <th>Information</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @errors.each do |id, details| %>
      <tr id="<%= id %>">
        <td><code><%= id %></code></td>
        <td>
          <b>Details:</b>
          <p><%= details['description'] %></p>

          <b>Resolution:</b>
          <p><%= details['resolution'] %></p>
        </td>
        <% if details['link'] %>
          <td><%= link_to details['link']['text'], details['link']['url'], class: 'button' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
