<div class="Vlt-grid">
  <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
    <div>
      <%= content_tag :h3, endpoint.summary, id: endpoint.operationId %>
      <% if endpoint.description %>
        <%= content_tag :p, endpoint.description.render_markdown %>
      <% end %>

      <div class="Vlt-badge-group">
        <code class="Vlt-badge Vlt-badge--large Vlt-badge--<%= endpoint.method == 'post' ? 'green' : 'blue' %>"><%= endpoint.method.upcase %></code>
        <code class="Vlt-badge Vlt-badge--large Vlt-badge--grey">
          <span><%= endpoint.definition.servers[0]['url'] %></span><%= endpoint.path.path.gsub(/\{(.+?)\}/, '<span class="api-path-parameter">:\1</span>').html_safe %>
        </code>
      </div>

       <% if endpoint.jwt? || endpoint.basic_auth? %>
        <h4>Authentication</h4>
        <div class="Vlt-table Vlt-table--data Vlt-table--data--dark Vlt-table--bordered">
          <table>
            <thead>
              <tr>
                <th>Key</th>
                <th>Description</th>
                <th>Example</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b>Authorization</b>
                  <br>
                  <small>
                    <span class="flag flag--strong">REQUIRED</span> | <i>string</i>
                  </small>
                </td>

                <% if endpoint.jwt? %>
                  <td>
                    <b>Your JSON web token.</b><br>
                    <small><%= link_to "Read more about JWTs", "/concepts/guides/authentication#json-web-tokens-jwt" %></small>
                  </td>
                  <td><code>Bearer &lt;JWT&gt;</code></td>
                <% end %>

                <% if endpoint.basic_auth? %>
                  <td>
                    <b>Base64 encoded API key and secret joined by a colon.</b><br>
                    <small><%= link_to "Read more", "/concepts/guides/authentication#header-based-api-key-secret-authentication" %></small>
                  </td>
                  <td><code>Basic &lt;base64&gt;</code></td>
                <% end %>

                <td>
                  <i>None</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>

      <%= render 'parameter_groups', endpoint: endpoint %>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Nxd-api__code">
      <%= render 'code_examples', endpoint: endpoint %>

      <% endpoint.responses.each do |response| %>
        <% id = SecureRandom.hex %>

        <div class="Vlt-accordion">
        <h4 class="Vlt-accordion__trigger">
           <span>HTTP response
           <span class="Vlt-badge Vlt-badge--<%= response.code[0] == '2' ? 'green' : response.code[0] == '3' ? 'yellow' : 'red'  %>"><%= response.code %></span>
         </span>
        </h4>

        <div class="Vlt-accordion__content">
          <div class="tabs-content" data-tabs-content="<%= id %>">
            <% response.formats.each_with_index do |format, index| %>

                <div class="js-format" data-format="<%= format %>">
                  <% if response.exhibits_one_of_multiple_schemas?(format) %>
                    <%
                      schema_tab_ids = []
                      id = SecureRandom.hex
                      response.split_schemas(format).each { schema_tab_ids << SecureRandom.hex }
                    %>

                    <ul class="tabs tabs--schema" data-tabs id="<%= id %>">
                      <% response.split_schemas(format).each_with_index do |schema, index| %>
                        <li class="tabs-title <%= index.zero? ? 'is-active' : '' %>">
                          <a href="#<%= schema_tab_ids[index] %>" <% if index.zero? %>aria-selected="true"<% end %>><%= schema['description'] || "Response #{index + 1}" %></a>
                        </li>
                      <% end %>
                    </ul>
                    <div class="tabs-content" data-tabs-content="<%= id %>">
                      <% response.split_schemas(format).each_with_index do |schema, index| %>
                        <div class="tabs-panel <%= index.zero? ? 'is-active' : '' %>" id="<%= schema_tab_ids[index] %>">
                          <%= ResponseParserDecorator.new(schema).html(format, xml_options: schema['xml']) %>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <% schema = response.schema(format) %>
                    <%= ResponseParserDecorator.new(schema).html(format, xml_options: schema['xml']) %>
                  <% end %>
                </div>


            <% end %>
          </div>
        </div>

          <% if response.code == '204' || response.formats.empty? %>
            <pre class="highlight"><code>No content</code></pre>
          <% end %>

        </div>
      <% end %>
    </div>
</div>

<% endpoint.callbacks.each do |callback| %>
  <%= render 'callback', callback: callback %>
<% end %>
