<%= render partial: 'layouts/partials/post-body-tags' %>

<header id="header">
  <div class="container">
    <a href="/" id="logo">
      <span></span>
      Nexmo Developer
    </a>
    <a href="/team#join">
      <span id="header-hiring">We're hiring</span>
    </a>

    <nav data-turbolinks="false">
      <a href="https://nexmo.com">Nexmo.com</a>
      <a href="https://help.nexmo.com/hc/en-us">Support</a>
      <a href="https://dashboard.nexmo.com/sign-in">Sign In</a>
      <a href="https://dashboard.nexmo.com/sign-up"><b>Try it free</b></a>
    </nav>
  </div>
</header>

<nav id="subnav" data-turbolinks="false">
  <div class="container">
    <a href="/documentation" class="Vlt-tabs__link <%= @navigation == :documentation ? 'Vlt-tabs__link_active' : '' %>">Documentation</a>
    <a href="/tutorials" class="Vlt-tabs__link <%= @navigation == :tutorials ? 'Vlt-tabs__link_active' : '' %>">Tutorials</a>
    <a href="/api" class="Vlt-tabs__link <%= @navigation == :api ? 'Vlt-tabs__link_active' : '' %>">API Reference</a>
    <a href="/tools" class="Vlt-tabs__link <%= @navigation == :tools ? 'Vlt-tabs__link_active' : '' %>">SDKs &amp; Tools</a>
    <a href="/community" class="Vlt-tabs__link <%= @navigation == :community ? 'Vlt-tabs__link_active' : '' %>">Community</a>

    <% if search_enabled? %>
      <%= form_tag '/search' do %>
        <div id="SearchComponent" key="SearchComponent">
          <input type="text" id="searchbox" name="query" placeholder="Search" name="query" autocomplete="off" value="<%= @search_term || '' %>">
        </div>
      <% end %>
    <% end %>
  </div>
</nav>

<%= render partial: 'layouts/partials/notices' %>
