<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body class="<%= theme %>" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <div class="container">
        <div class="row"> 
          <div id="Vlt-sidenav" class="Vlt-sidenav Vlt-sidenav--light">
            <div class="Vlt-sidenav__scroll">
              <nav class="Vlt-sidemenu sidenav" id="sidenav" data-turbolinks-permanent>
                <%= sidenav(@sidenav_root) %>
              </nav>
            </div>
          </div>
          <div data-turbolinks-permanent class="columns small-12 medium-9 Vlt-card Vlt-article" id="primary-content">
            <%= yield %>
            <%= render partial: 'layouts/partials/feedback' %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
